body{
		background: black;
	}
.centered{
  	position: absolute;
  	width: 50%;
	margin: 0 auto;
	top: 40%;
	left: 40%;
	margin-left: -10%;
	margin-top: -10%;
	display: block;
}
#hero{
	font-family: 'Pacifico', cursive;
	position: absolute;
	color: white;
	font-size: 3em;
	top: 60%;
	left: 33%;
	width: 40%;
	margin: 0 auto;

}